# Ignore Maven stuff
target
pom.xml.*
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
buildNumber.properties
.mvn
# https://github.com/takari/maven-wrapper#usage-without-binary-jar

# Ignore Eclipse stuff
.classpath
.project
.settings
.factorypath

# Ignore IntelliJ IDEA stuff
.idea
*.iml
*.iws

# Ignore NetBeans stuff
nbproject
nbactions.xml
nb-configuration.xml
